div {
    width: 500px;
    height: 500px;
}

img {
    width: 50px;
}

#face {
    position: fixed;
    left: 100px;
    top: 100px;
    width: 300px;
}

#eyes1 {
    position: fixed;
    width: 150px;
    height: 80px;
    left: 180px;
    top: 210px;
}

#hat {
    width: 90px;
    left: 220px;
    top: 130px;
    position: fixed;
}

#mouth2 {
    position: fixed;
    left: 230px;
    top: 340px;
    width: 80px;
}

#nose1 {
    position: fixed;
    left: 230px;
    top: 290px;
    z-index: 1;
    width: 40px;
}

#ears1 {
    position: fixed;
    width: 280px;
    left: 110px;
    top: 120px;
}